$boxy-spacing-left-right: $grid-gutter-width;

// Heading
$boxy-heading-spacing-top-bottom: 15px;
$boxy-heading-border: 0 !default;
$boxy-heading-background-color: $body-bg-secondary;

$boxy-heading-title-color: $headings-color;

// Body
$boxy-body-spacing-top-bottom: 20px;
$boxy-body-border: 0;
$boxy-body-background-color: $body-bg-secondary;

// Footer
$boxy-footer-spacing-top-bottom: 10px !default;
$boxy-footer-border: 0 !default;
$boxy-footer-background-color: $body-bg-secondary;
