// Colouring
$sectioned-default-background: $body-bg !default;
$sectioned-primary-background: $brand-primary !default;
$sectioned-secondary-background: $brand-secondary !default;
$sectioned-tertiary-background: $brand-tertiary !default;
$sectioned-quaternary-background: $brand-quaternary !default;

// Responsive
$xs-sectioned-inner-spacing-sm: 30px;
$xs-sectioned-inner-spacing: 35px;
$xs-sectioned-inner-spacing-lg: 60px !default;

$sm-sectioned-inner-spacing-sm: 40px;
$sm-sectioned-inner-spacing: 45px;
$sm-sectioned-inner-spacing-lg: 80px !default;

$md-sectioned-inner-spacing-sm: 45px;
$md-sectioned-inner-spacing: 50px;
$md-sectioned-inner-spacing-lg: 120px !default;

$lg-sectioned-inner-spacing-sm: 55px;
$lg-sectioned-inner-spacing: 60px;
$lg-sectioned-inner-spacing-lg: 130px !default;
