// |--------------------------------------------------------------------------
// | Button
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .btn
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin btn-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// --------------------------------------------------
// Variants
// --------------------------------------------------

.btn-default {}

.btn {
  min-width: 170px;
  border: 0;

  font-weight: $font-weight;
  text-transform: uppercase;

  &:focus {
    text-decoration: underline;
  }
}

.btn-primary {

  &, &:hover, &:focus {
    background: rgb(121,100,140);
    background: linear-gradient(0deg, rgba(121,100,140, 1) 0%, rgba(147,126,167, 1) 100%);
  }
}
.btn-secondary {}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
