// |--------------------------------------------------------------------------
// | Flexy header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .flexy-header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-logo-font-size: 20px;
$sm-logo-font-size: 22px;
$md-logo-font-size: 28px;
$lg-logo-font-size: 28px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin flexy-header-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.flexy-header--static {
  z-index: 100;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .flexy-header__logo {
    font-size: $sm-logo-font-size;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .flexy-header__logo {
    font-size: $md-logo-font-size;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .flexy-header__logo {
    font-size: $lg-logo-font-size;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
