// |--------------------------------------------------------------------------
// | Table
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .table
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin table-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.table {

  // Bottom align for column headings
  > thead > tr > th {
    border-bottom: 0;
  }

  > tbody > tr > td {
    vertical-align: initial;
  }

  th {
    font-weight: $font-weight-bold;
  }

  tr {

    &.selected {
      background-color: $body-bg-quaternary !important;
    }
  }
}

.table-striped {

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }
}

.table-striped {

  // Reverse the background color
  > tbody > tr:nth-of-type(even) {
    background-color: $table-bg;
  }
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
